:root {
    font-family: Verdana;
    font-size: 14px;
}

table {
    border-spacing: 0.5rem;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #999;
    padding: 0.5rem;
    text-align: left;
    vertical-align: middle;
}

th {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: white;
}

tbody tr:nth-child(odd) {
    background:aquamarine
}